ul {
     background-color: green;
font-size: large;
color: white;
list-style-type: none;

margin: 10px;
}

.TTY{
    
    display:inline

}

.YYT{

    display:inline

    

}


.AAS{

    display:inline

}


.CCS{
    
    display:inline

}