.div10 {
       display:inline;
    border: 1px  solid black;
    border-radius: 12px;
    padding: 10px;
  box-shadow: 5px 4px 6px  #888888;

}

.div100 {
    display:inline;
    border: 1px  solid black;
    border-radius: 12px;
     padding: 10px;
  box-shadow: 5px 4px 6px  #888888;

}


.div1000 {
    display:inline;
    border: 1px  solid black;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 5px 4px 6px  #888888;

}

.div20 {

    display:inline;
    border: 1px  solid black;
    border-radius: 12px;
  padding: 10px;
  box-shadow: 5px 4px 6px  #888888;

}


.div200{

    display:inline;
    border: 1px  solid black;
    border-radius: 12px;
  padding: 10px;
  box-shadow: 5px 4px 6px  #888888;
}



.div2000 {
    display:inline;
    border: 1px  solid black;
    border-radius: 12px;
    padding: 10px;
  box-shadow: 5px 6px 10px  #888888;

}

.yyttr { 
  margin-top: 25px;
  margin-left: 25px;




}

.ttry {

  margin-left: 25px;

}


