
.ffff{
    display:inline;


}



.gg{
    
    

}


.wg{

    box-shadow: 200px 200px white;

}

.ff{
    box-shadow: 10px 10px white;

}


.gt{
    box-shadow: 10px 10px white;

}


.tb{

    box-shadow: 10px  10px white;
}


.rrt{

    box-shadow: 10px 10px white;

}

 
  .gg {border-style: inset;}
